.error {
  position: absolute;
  top: 78px; /* Используем только top вместо inset */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
  height: 385px;
}

.error__title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 711px) {
  .error {
    height: auto;
  }
}