  .error {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545050;
    height: 385px;
  }
  
  .error__title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  }
  
  @media (max-width: 711px) {
  .error {
  height: auto; 
  padding: 0px; 
  position: relative;
  width: 100%;
  }
  
  .error-template {
  height: auto;
  }
  }

.error__title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: url('FiraSansCondensed-Bold.woff2') format('woff2'),
       url('FiraSansCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: url('FiraSansCondensed-Regular.woff2') format('woff2'),
       url('FiraSansCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}